.content-block {
 border-top: 1px solid $content-border-color;
 
 &__header {
  padding: 16px; 
  background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
   
  @include tablet {
   padding-left: 24px;
   padding-right: 24px;
  }

  @include desktop {
   padding-left: 32px;
   padding-right: 32px;
  }
 }

 &__title {
  color: $menu-text-color;
  font-weight: 400;
 }

 &__main { 
  padding: 24px 32px; 
  
  @include tablet {
   padding: 24px;
  }

  @include mobile {
   padding: 16px;
   padding-right: 0;
  }
   
 }

 &__swiper {
  @media screen and (min-width: $tablet-min) {
   display: flex;
   height: 160px;
   flex-direction: column;
   overflow: hidden;
   position: relative; 

   @include mobile {
    height: auto;
   }

   &--height {
    &--full {
     height: auto;
    }
   }

   &--hidden {
    display: none;
   }
  }
 }

 &__show-more {
  margin-top: 24px;
  font-weight: 500;

  &--hidden {
   display: none;
  }
 }
 &__commercial {
  margin-top: 16px;
  @include tablet {
   margin-top: 24px;
  }
  @include desktop {
   margin-top: 32px;
  }
  
 }
}